.row-in-row{
    margin-right: 1px !important;
}
.fm-e{

    margin-right: 5.2px !important;
    
}


.iconfb{
    color: #3b5998 !important;
    
}
.icontw{
    color: #00acee !important;
    
}
.iconinsta{
    color: #d62976  !important;
    
}
.icon:hover{
    color: white !important;

}