.count{
    position: absolute;
    background-color: $secondary;
    font-size: 10px;
    font-weight: bold;
    color: white;
    border-radius: 45%;
    padding: 3px;
    bottom: 12%;
    right: 14%;

}